<!DOCTYPE html>
<html lang="ar">
<head>
</head>
<body>
<div class="container">
  <h1>مولد الصوت بالذكاء الاصطناعي</h1>
  <div class="textarea-container">
    <textarea placeholder="اكتب أو الصق النص هنا..."></textarea>
    <div class="error-message"></div>
    <div class="textarea-footer">
      <span class="character-count">عدد الأحرف: 0</span>
      <button class="btn send-btn">إرسال</button>
    </div>
  </div>
  
  <div class="loading-spinner" style="display: none;"></div>
  
<div class="audio-container" style="display: none;">
  <a id="download-btn" class="button-29" href="" download>تنزيل</a>
</div>

  <h2 class="section-header">اختر صوتًا</h2>
    <div class="voice-grid">
      <div class="voice-item" data-speaker-id="1">
        <div class="avatar">
          <img src="assets/1.png" alt="مقدم">
        </div>
        <h3>Joe Rogan</h3>
        <p>مقدم</p>
      </div>
      <div class="voice-item" data-speaker-id="2">
        <div class="avatar">
          <img src="assets/2.jpeg" alt="سياسي">
        </div>
        <h3>Obama</h3>
        <p>سياسي</p>
      </div>
      <div class="voice-item" data-speaker-id="3">
        <div class="avatar">
          <img src="assets/3.jpeg" alt="علم نفسي">
        </div>
        <h3>Jordan Peterson</h3>
        <p>علم نفسي</p>
      </div>
      <div class="voice-item" data-speaker-id="4">
        <div class="avatar">
          <img src="assets/4.png" alt="سياسي">
        </div>
        <h3>Trump</h3>
        <p>سياسي</p>
      </div>
      <div class="voice-item" data-speaker-id="7">
        <div class="avatar">
          <img src="assets/7.png" alt="مبتكر">
        </div>
        <h3>Elon Musk</h3>
        <p>مبتكر</p>
      </div>
      <div class="voice-item" data-speaker-id="8">
        <div class="avatar">
          <img src="assets/8.jpeg" alt="رياضي">
        </div>
        <h3>Andrew Tate</h3>
        <p>رياضي</p>
      </div>
      <div class="voice-item" data-speaker-id="9">
        <div class="avatar">
          <img src="assets/9.jpeg" alt="معلق">
        </div>
        <h3>Ben Shapiro</h3>
        <p>معلق</p>
      </div>
      <div class="voice-item" data-speaker-id="10">
        <div class="avatar">
          <img src="assets/10.png" alt="ممثل">
        </div>
        <h3>Morgan Freeman</h3>
        <p>ممثل</p>
      </div>
      <div class="voice-item" data-speaker-id="11">
        <div class="avatar">
          <img src="assets/11.png" alt="مغنية">
        </div>
        <h3>Taylor Swift</h3>
        <p>مغنية</p>
      </div>
      <div class="voice-item" data-speaker-id="12">
        <div class="avatar">
          <img src="assets/12.png" alt="موسيقار">
        </div>
        <h3>Kanye West</h3>
        <p>موسيقار</p>
      </div>
      <div class="voice-item" data-speaker-id="18">
        <div class="avatar">
          <img src="assets/18.png" alt="مغنية">
        </div>
        <h3>Ice Spice</h3>
        <p>مغنية</p>
      </div>
      <div class="voice-item" data-speaker-id="19">
        <div class="avatar">
          <img src="assets/19.png" alt="شخصية">
        </div>
        <h3>Homer Simpson</h3>
        <p>شخصية</p>
      </div>
      <div class="voice-item" data-speaker-id="20">
        <div class="avatar">
          <img src="assets/20.png" alt="مغنية">
        </div>
        <h3>Dua Lipa</h3>
        <p>مغنية</p>
      </div>
      <div class="voice-item" data-speaker-id="21">
        <div class="avatar">
          <img src="assets/21.png" alt="شخصية">
        </div>
        <h3>SpongeBob</h3>
        <p>شخصية</p>
      </div>
      <div class="voice-item" data-speaker-id="22">
        <div class="avatar">
          <img src="assets/22.png" alt="مغنية">
        </div>
        <h3>Billie Eilish</h3>
        <p>مغنية</p>
      </div>
      <div class="voice-item" data-speaker-id="23">
        <div class="avatar">
          <img src="assets/23.png" alt="شخصية">
        </div>
        <h3>Tony Stark</h3>
        <p>شخصية</p>
      </div>
      <div class="voice-item" data-speaker-id="26">
        <div class="avatar">
          <img src="assets/26.png" alt="سياسي">
        </div>
        <h3>Arnold</h3>
        <p>سياسي</p>
      </div>
      <div class="voice-item" data-speaker-id="29">
        <div class="avatar">
          <img src="assets/29.png" alt="مغني">
        </div>
        <h3>Ed Sheeran</h3>
        <p>مغني</p>
      </div>
      <div class="voice-item" data-speaker-id="30">
        <div class="avatar">
          <img src="assets/30.jpeg" alt="ممثل">
        </div>
        <h3>Leo DiCaprio</h3>
        <p>ممثل</p>
      </div>
      <div class="voice-item" data-speaker-id="32">
        <div class="avatar">
          <img src="assets/32.png" alt="مغني">
        </div>
        <h3>Eminem</h3>
        <p>مغني</p>
      </div>
      <div class="voice-item" data-speaker-id="33">
        <div class="avatar">
          <img src="assets/33.png" alt="شخصية">
        </div>
        <h3>Peter Griffin</h3>
        <p>شخصية</p>
      </div>
      <div class="voice-item" data-speaker-id="34">
        <div class="avatar">
          <img src="assets/34.png" alt="مشهورة">
        </div>
        <h3>Kylie Jenner</h3>
        <p>مشهورة</p>
      </div>
      <div class="voice-item" data-speaker-id="35">
        <div class="avatar">
          <img src="assets/35.png" alt="مغني">
        </div>
        <h3>KSI</h3>
        <p>مغني</p>
      </div>
      <div class="voice-item" data-speaker-id="37">
        <div class="avatar">
          <img src="assets/37.png" alt="شخصية">
        </div>
        <h3>Eric Cartman</h3>
        <p>شخصية</p>
      </div>
      <div class="voice-item" data-speaker-id="38">
        <div class="avatar">
          <img src="assets/38.png" alt="مقدم">
        </div>
        <h3>David Attenborough</h3>
        <p>مقدم</p>
      </div>
      <div class="voice-item" data-speaker-id="45">
        <div class="avatar">
          <img src="assets/45.jpeg" alt="معلق">
        </div>
        <h3>Pew Die Pie</h3>
        <p>معلق</p>
      </div>
      <div class="voice-item" data-speaker-id="47">
        <div class="avatar">
          <img src="assets/47.jpeg" alt="مغنية">
        </div>
        <h3>Ariana Grande</h3>
        <p>مغنية</p>
      </div>
      <div class="voice-item" data-speaker-id="48">
        <div class="avatar">
          <img src="assets/48.jpeg" alt="شخصية">
        </div>
        <h3>Patrick Star</h3>
        <p>شخصية</p>
      </div>
      <div class="voice-item" data-speaker-id="49">
        <div class="avatar">
          <img src="assets/49.jpeg" alt="شخصية">
        </div>
        <h3>Rick</h3>
        <p>شخصية</p>
      </div>
      <div class="voice-item" data-speaker-id="50">
        <div class="avatar">
          <img src="assets/50.jpeg" alt="مغني">
        </div>
        <h3>Kendrick Lamar</h3>
        <p>مغني</p>
      </div>
      <div class="voice-item" data-speaker-id="51">
        <div class="avatar">
          <img src="assets/51.png" alt="شخصية">
        </div>
        <h3>Sheldon Plankton</h3>
        <p>شخصية</p>
      </div>
      <div class="voice-item" data-speaker-id="52">
        <div class="avatar">
          <img src="assets/52.png" alt="شخصية">
        </div>
        <h3>Bart Simpson</h3>
        <p>شخصية</p>
      </div>
      <div class="voice-item" data-speaker-id="55">
        <div class="avatar">
          <img src="assets/55.png" alt="مغني">
        </div>
        <h3>The Weeknd</h3>
        <p>مغني</p>
      </div>
      <div class="voice-item" data-speaker-id="56">
        <div class="avatar">
          <img src="assets/56.jpeg" alt="مغنية">
        </div>
        <h3>Rihanna</h3>
        <p>مغنية</p>
      </div>
      <div class="voice-item" data-speaker-id="57">
        <div class="avatar">
          <img src="assets/57.jpeg" alt="مغني">
        </div>
        <h3>Travis Scott</h3>
        <p>مغني</p>
      </div>
    </div>
  </div>
  <script src='assets/script.js' defer></script>
</body>
</html>